@import url('src/_includes/css/components/index.css');
@import url('src/_includes/css/containers/index.css');

:root {
  /* Colors */
  --dark-gray: #141415;
  --gray: #333333;
  --light-gray: #CBCBCD;
  --smoke-green: #667A73;
  --smoke-dark-green: #335246;
  --dark-green: #002918;
  --cadmium-green: #046231;
  --darthmius-green: #05773A;
  --emerald-green: #3BBF78;
  --grey-white: #efefef;
  --white: white;
  --black: #020202;

  /* Light Theme */
  --link-color: var(--darthmius-green);
  --link-visited-color: var(--smoke-dark-green);
  --header-color: var(--light-gray);
  --header-font-color: var(--dark-gray);
  --footer-bg: var(--light-gray);
  --blockquote-bg: var(--light-gray);
  --main-font-color: var(--black);
  --main-background-color: var(--white);
  --accent-color: var(--darthmius-green);
  --card-bg: var(--emerald-green);
  --card-sec-cl: var(--dark-green);
  --chip-bg: var(--smoke-green);
  --chip-cl: var(--white);
  --code-cl: var(--white);
  --code-bg: var(--darthmius-green);
  --post-title: var(--accent-color);
  --post-sec-title: var(--main-font-color);
  --title-content-gradient: linear-gradient(var(--header-color), #6ee6a5, var(--main-background-color));
  --post-bg: rgba(236, 236, 236, 0.4);

  --theme-icon: url('/icons/dark.svg');

  /* Shadows */
  --main-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --light-box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 12px;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, system-ui, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--main-font-color);
  background-color: var(--main-background-color);
  height: 100%;
  overflow: auto;
}

.dark {
  --link-color: var(--emerald-green);
  --link-visited-color: var(--smoke-dark-green);
  --header-color: var(--dark-gray);
  --header-font-color: var(--white);
  --blockquote-bg: var(--dark-gray);
  --footer-bg: var(--dark-gray);
  --main-font-color: var(--grey-white);
  --main-background-color: var(--gray);
  --accent-color: var(--cadmium-green);
  --card-bg: var(--dark-green);
  --card-sec-cl: var(--emerald-green);
  --chip-bg: var(--dark-green);
  --chip-cl: var(--emerald-green);
  --post-title: var(--emerald-green);
  --post-sec-title: var(--white);
  --title-content-gradient: linear-gradient(var(--header-color), var(--card-bg), #0f311f, var(--main-background-color));
  --post-bg: rgba(31, 31, 31, 0.4);

  --theme-icon: url('/icons/light.svg');

}

h1 {
  font-size: 2.2em;
}

.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  display: grid;
  grid-area: footer;
  grid-template-areas: ". footer-content .";
  isolation: isolate;
  position: relative;
}

.footer-content {
  grid-area: footer-content;
  text-align: center;
  padding: 1rem 0;
}
a {
  color: var(--link-color);
}

a:hover {
  filter: contrast(1.2);
}

/* Code styles */

pre code {
  background-color: inherit;
  color: inherit;
}
code, code > .token {
  font-family: 'JetBrains Mono', 'Consolas', monospace;
}


code {
  background: var(--code-bg);
  font-size: .8em;
  padding: .05rem .2rem;
  border-radius: 4px;
  color: var(--code-cl);
}

img {
  height: auto;
  width: 100%;
}

blockquote {
  background: var(--blockquote-bg);
  border-left: 6px solid var(--accent-color);
  border-radius: 0 6px 6px 0;
  font-size: .9em;
}

blockquote > p {
  padding: .3em;
}
