---
layout: layouts/base.njk
title: . blg - Tags
eleventyNavigation:
  key: tags
  order: 0
---

{% set tagsList = collections.all | collectTags %}


<div class="card">
  <div class="tags-container">
    {% for tag in tagsList | filterTags %}
    {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="post-tag">
        <span>{{tag}}</span>
      </a>
    {% endfor %}
  </udivl>
</div>