<div class="cards-container">
  {% for post in postsList %}
    {% set timeToRead = post.templateContent |  ttr %}
    <div class="card">
      <div class="card-header">
        <div class="card-meta">
          <span class="card__post-date">{{ post.data.date | formatDate }}</span>
          <span 
            class="date-chip ttr-chip" 
            title="Time to read: {{ timeToRead }}" 
            aria="Time to read: {{ timeToRead }}"
            >
              ⏱ {{ timeToRead }}
          </span>
        </div>

        <h3 class="card__title">
          <a href="{{ post.url | url }}">{{post.data.title}}</a>
        </h3>
        <div class="tags-container">
          {% for tag in post.data.tags | filterTags %}
          {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
            <a href="{{ tagUrl | url }}" class="post-tag">
              <span>{{tag}}</span>
            </a>
          {% endfor %}
        </div>
        </div>
      <div class="card__description">
        {{ post.data.description }}
      </div>
    </div>
  {% endfor %}
</div>