.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.post-tag {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.2rem 0.6rem;
  border: 2px solid var(--main-background-color);
  border-radius: 4px;
  transition: all .2s ease;

  text-decoration: none;
  background-color: var(--main-background-color);
  color: var(--main-font-color);
}
.post-tag > span {
  color: var(--main-font-color);
}

.post-tag:hover {
  background-color: var(--accent-color);
}