.theme-toggler {
  background-image: var(--theme-icon);
  background-size: 28px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;

  border-radius: 50%;

  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.dark .theme-toggler {
  filter: invert(1);
}