---
title: . blg
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="#035a2d" name="theme-color"/>
    <meta content="{{ title }}" name="description"/>
    <meta name="yandex-verification" content="090b802aee63054c" />
    <meta name="google-site-verification" content="XmLQJO6L6WwraPPXwpHTR2v-yUEAR4ciItca9XMtjYY" />
    <link rel="canonical" href="https://dot-blg.onrender.com" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description}}" />

    <link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Inter:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/prismjs@1.29.0/themes/prism-tomorrow.css">

    {% set css %}
      {% include "css/index.css" %}
    {% endset %}

    <style>{{ css | cssmin | safe}}</style>
  </head>
  <body>
    <script src="/js/theme-toggler.js" type="module"></script>
    <script src="/js/copy-btn-code-block.js" type="module"></script>
    <script src="/js/toc-interactivity.js" type="module"></script>
    <div class="wrapper">
      <header>
        <nav class="nav">
          <a class="nav-logo" href="{{ '/' | url }}">. blg</a>
          <ul class="nav-menu">
            {%- for entry in collections.all | eleventyNavigation %}
              <li class="nav-menu__item{% if entry.url == page.url %} nav-menu__item--active{% endif %}">
                <a href="{{ entry.url | url }}">{{ entry.title }}</a>
              </li>
            {%- endfor %}

            <li class="nav-menu__button">
              <button id="theme-toggler" class="theme-toggler" aria-label="Toggle theme"/>
            </li>
          </ul>
        </nav>
      </header>
      <main class="main">
        {{ content | safe }}
      </main>
      <footer>
        <div class="footer-content">
          © 2022-2023 . blg
          <a href="https://github.com/vara855/dot-blg/blob/master/{{ page.inputPath }}">Edit this page on GitHub</a>      
        </div>
      </footer>
    </div>
  </body>
</html>
