---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="title-content"></div>

<div class="post-toc__mobile">
  <details>
    <summary class="post-toc__summary">На этой странице</summary>
    {{ content | toc | safe }}
  </details>
</div>
<div class="post">
  <div class="post-body">
    <article class="post-content">
      <div class="post__subtitle">
        <div class="tags-container">
          {% for tag in tags | filterTags %}
          {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
            <a href="{{ tagUrl | url }}" class="post-tag">
              <span>{{tag}}</span>
            </a>
          {% endfor %}
        </div>
        <div class="chips-container">
          <span 
            class="date-chip ttr-chip" 
            title="Time to read: {{ content | ttr }}" 
            aria="Time to read: {{ content | ttr }}"
            >
            ⏱ {{ content | ttr }}
          </span>
          <span
            role="time" 
            class="date-chip"
            title="Created {{date | formatDate }}"
            aria="Created {{date | formatDate }}"
            >
            🗓 {{date | formatDate }}
            </span>
        </div>
      </div>

      <h1>{{ title }}</h1>
      {{ content | safe }}

    </article>

    <hr class="post__divider" />

    {% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
    {% set nextPost = collections.posts | getNextCollectionItem(page) %}

    <div class="prev-next">
      <div>
        {% if previousPost %}
          <a aria="Previous post" class="prev-next__control" href="{{ previousPost.url }}">⬅️ {{ previousPost.data.title }}</a>
        {% endif %}
      </div>
      <div>
        {% if nextPost %}
          <a aria-label="Next post" class="prev-next__control" href="{{ nextPost.url }}">{{ nextPost.data.title }} ➡️</a>
        {% endif %}
      </div>
    </div>

    <div class="post__footer">
      <h2>See also</h2>  
      {% set postsList = collections[ tags[0] ] %}
      {% include "posts-gallery.njk" %}
    </div>
  </div>
  <aside class="post-toc">
    <h3>На этой странице</h3>
    {{ content | toc | safe }}
  </aside>
</div>



