.cards-container {
  display: flex;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  border-radius: 8px;
  padding: 1rem 1.5rem;
  background-color: var(--card-bg);

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  transition: all .15s ease-in;
}

.card-header {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.card__title a {
  font-size: 1.5rem;
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}

.card__title:hover {
  text-decoration: underline;
}

.card__description {
  font-size: 1rem;
}

.card:hover {
  transform: translateY(-2px) scale(1.01);
}