.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1.5rem;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  border-radius: 8px;
  padding: 1rem 1.5rem;
  background-color: var(--card-bg);

  box-shadow: var(--main-box-shadow);

  transition: all .15s ease-in;
}

.card-header {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.card-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  margin-block: .3rem;
}

.card__title a {
  font-size: 1.5rem;
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}

.card__title:hover {
  text-decoration: underline;
}

.card__description {
  font-size: 1rem;
}

.card:hover {
  transform: translateY(-2px) scale(1.01);
}

.card__post-date {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.2rem;
  border-radius: 6px;
  filter: brightness(-10);
  color: var(--card-sec-cl);
}

@media screen 
and (min-device-width: 200px)
and (max-device-width: 667px) {
  .cards-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}