
.centered-layout {
  display: flex; 
  align-items: center;
  isolation: isolate;
  margin-block: 1rem;
  justify-content: center;
}

.centered-layout__item {
  flex: 0 1 50%;
  display: grid;
  gap: 1rem;
  padding-bottom: 2rem;
}

@media screen 
and (min-width: 200px)
and (max-width: 770px) {

  .centered-layout__item {
    flex: 0 1 90%;
  }
}