@import "colors.css";
@import "_components/_index.css";
@import "_containers/_index.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, system-ui, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--main-font-color);
  background-color: var(--main-background-color);
  height: 100%;
  overflow: auto;
  hanging-punctuation: first last;
}

:root {
  color-scheme: light;

  /* Light Theme */
  --link-color: var(--darthmius-green);
  --link-visited-color: var(--smoke-dark-green);
  --header-color: var(--light-gray);
  --header-font-color: var(--dark-gray);
  --footer-bg: var(--light-gray);
  --blockquote-bg: var(--light-gray);
  --main-font-color: var(--black);
  --main-background-color: var(--white);
  --accent-color: var(--darthmius-green);
  --card-bg: var(--emerald-green);
  --card-sec-cl: var(--dark-green);
  --chip-bg: var(--smoke-green);
  --chip-cl: var(--white);
  --code-cl: var(--white);
  --code-bg: var(--darthmius-green);
  --post-title: var(--accent-color);
  --post-sec-title: var(--main-font-color);
  --unfurl-bg: var(--grey-white);
  --title-content-gradient: linear-gradient(
    var(--header-color),
    #6ee6a5,
    var(--main-background-color)
  );
  --post-bg: rgba(236, 236, 236, 0.4);

  --theme-icon: url("/icons/dark.svg");

  /* Shadows */
  --main-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --light-box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 12px;
}

h1 {
  font-size: 2.2em;
}

p {
  line-height: 1.6;
  text-wrap: pretty;
}

.wrapper {
  display: grid;
  min-height: 100svh;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  display: grid;
  grid-area: footer;
  grid-template-areas: ". footer-content .";
  isolation: isolate;
  position: relative;
}

.footer-content {
  grid-area: footer-content;
  font-size: 0.7rem;
  font-family: monospace;
  text-align: center;
  padding: 0.5rem 0;
}
a {
  text-decoration: none;
  color: var(--link-color);
}
a:hover, a:active {
  text-decoration: underline;
}

a:hover {
  filter: contrast(1.2);
}

ul > li {
  margin-bottom: 0.5rem;
}
/* Code styles */

pre code {
  background-color: inherit;
  color: inherit;
}
code,
code > .token {
  font-family: "JetBrains Mono", "Consolas", monospace;
}

code {
  background: var(--code-bg);
  font-size: 0.8em;
  padding: 0.05rem 0.2rem;
  border-radius: 4px;
  color: var(--code-cl);
}

img {
  height: auto;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
blockquote {
  background: var(--blockquote-bg);
  border-left: 6px solid var(--accent-color);
  border-radius: 0 6px 6px 0;
  font-size: 0.9em;
}

blockquote > p {
  padding: 0.3em;
}

pre[class*="language-"] {
  font-size: 0.8em;
  border-radius: 8px;
  padding: 0.5em 0;
  counter-reset: lineNumber;
}
code[class*="language-"] {
  padding: 0;
}
code .highlight-line:before {
  position: sticky;
  left: 0;
  background: #2d2d2d;
  -webkit-user-select: none;
  border-right: 1px solid #404040;
  color: #858585;
  content: counter(lineNumber);
  counter-increment: lineNumber;
  display: inline-block;
  font-variant-numeric: tabular-nums;
  margin-right: 1em;
  padding-right: 1em;
  text-align: right;
  width: 2em;
}

.prism-copy-button {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;

  border: 1px solid;
  background-color: #2d2d2d;
  font-size: 0.8em;
  border-radius: 4px;
  padding: 0.2em 0.3em;
  color: #858585;
  transition: all 0.2s ease;
}

.prism-copy-button:hover {
  color: var(--white);
}

.prism-copy-button:active {
  color: var(--main-background-color);
  background-color: var(--main-font-color);
}

.code-block-container {
  position: relative;
}

@media (hover: hover) {
  .code-block-container:hover > pre > .prism-copy-button {
    visibility: visible;
    opacity: 1;
  }

  .prism-copy-button {
    visibility: hidden;
    opacity: 0;
  }
}
