.nav {
  display: -moz-box;
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
  font-size: 16px;
  background-color: var(--header-color);
  color: var(--header-font-color);
  z-index: 2;

  --transition: all .1s ease
}
.nav li {
  margin: 0;
}

.nav-menu {
  height: 59px;
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  -moz-box-pack: start;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-items: center;
  background-color: var(--header-color);
  z-index: 1000;
}

.nav-menu__item {
  height: 100%;
  /* color: var(--header-font-color); */
  text-decoration: none;
  font-weight: 500;
  padding: 0 1.5rem;
  transition: var(--transition);
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.nav-menu__button {
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  transition: var(--transition);
}

.nav-menu__button:hover {
  transform: scale(1.09);
}

.nav-menu__item a {
  color: inherit;
  text-decoration: none;
}

.nav-menu__item--active a {
  text-decoration: underline;
  text-underline-offset: 10%;
}

.nav-menu__item:hover {
  background-color: var(--accent-color);
}

.nav-logo {
  padding-inline: 1.5rem;
  height: 100%;
  text-align: center;
  display: grid;
  height: 59px;
  transition: var(--transition);
  place-content: center;
  color: var(--header-font-color);
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  font-variation-settings: "slnt" 0, "wdth" 125, "GRAD" 0, "XTRA" 400, "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}

.nav-logo:hover {
  background-color: var(--accent-color);
  text-decoration: none;
}