---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---
<h1>Tagged “{{ tag }}”</h1>

{% set postsList = collections[ tag ] %}
{% set tagsList = collections.all | collectTags %}


<div class="tagged-container">
  {% include "posts-gallery.njk" %}

  <div class="card">

    <div class="tags-container">
      <b>All tags: </b>
      {% for tag in tagsList | filterTags %}
      {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="post-tag">
          <span>{{tag}}</span>
        </a>
      {% endfor %}
    </div>
  </div>
</div>

